<article class="post">

  {{#if image_path}}
  <img class="thumbnail" src="{{image_path}}" alt="{{image_path}}">
  {{/if}}

  <div class="title">

    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  
  {{#if text}}
  <p>{{text}}</p>
  {{/if}}
  
  <div class="meta">
    {{vote_count}} {{format_plural "like" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>